h1.text{
    color: #f0f0f0;
    font-size: 40px !important;
    font-weight: bold;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.header{
    background-color: #ee1515;
    padding: 32px;
    border-bottom: 5px solid #222224;
}

p{
    text-align: center;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Rubik', sans-serif;
}

.poke-image{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;

}

.pokemon {
    border: 5px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    height: 250px;
}

p1.wrong-box {
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
}

p2.blanks {
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
}